<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>EDA ON WEATHER PARAMETERS</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="static/css/all.min.css" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/slick/slick.css"/>
    <link rel="stylesheet" href="static/slick/slick-theme.css"/>
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/templatemo-dream-pulse.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel = "icon" href = 
    "https://previews.123rf.com/images/goodzone95/goodzone951704/goodzone95170400068/76185930-airplane-icon.jpg" 
            type = "image/x-icon">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
           <nav id="tmSidebar" class="tm-bg-black-transparent tm-sidebar">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <div class="tm-sidebar-sticky">
              <div class="tm-brand-box">
                <div class="tm-double-border-1">
                  <div class="tm-double-border-2">
                    <h1 class="tm-brand text-uppercase">FLIGHT ASSIST</h1>
                  </div>
                </div>
              </div>

              <ul  class="nav flex-column text-uppercase text-center tm-main-nav">
                <li class="nav-item">
                  <a href="{{ url_for('eda') }}" class="nav-link active" >
                    <span class="d-inline-block mr-8">EDA on Weather data</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('classify') }}" class="nav-link">
                    <span class="d-inline-block mr-8">Route Classifier V0(Version 0)</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('ts') }}" class="nav-link">
                    <span class="d-inline-block mr-8">Route Classifier V1(Version 1)</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('landing') }}" class="nav-link">
                    <span class="d-inline-block mr-8">Landing Assistant</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('index') }}#performace" class="nav-link">
                    <span class="d-inline-block mr-8">Performace walk-through</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
              </ul>

              <footer class="text-center text-white small">
              </footer>
            </div>
          </nav> <div class="tm-section-wrap bg-white">
          <div class="tm-section-wrap bg-white tm-color-yellow">
            <section id="eda" class="row tm-section">
            <div class="row tm-clients-images">
                        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                            <img src="static/img/temp.png" alt="Client Image" class="img-fluid tm-client-img" />
                            <br>
                            <br>
                            <br>
                            <h3 style="text-align:center;"> TEMPERATURE</h3>
                             <p style="text-align:center;">The lower the air density, the faster an airplane must travel to produce enough lift to take off. 
                              These hotter temperatures will reduce air density and make it much more likely weight restrictions are
                               needed for flights taking off during the hottest parts of the day.</p>

                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                            <img src="static/img/ws.png" alt="Client Image" class="img-fluid tm-client-img" />
                            <br>
                            <br>
                            <br>
                            <h3 style="text-align:center;"> WIND</h3>
                            <p style="text-align:center;">During flight, winds have an effect on the plane's speed, 
                              so they must be taken into consideration if the aircraft wants to stay on schedule. 
                              For instance, tailwinds make travel faster and save fuel, while headwinds have the opposite effect</p>
                            

                          
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                            <img src="static/img/sample.png" alt="Client Image" class="img-fluid tm-client-img" />
                            <br>
                            <br>
                            <br>
                            <h3 style="text-align:center;"> CLOUDY</h3>
                            <p style="text-align:center;">When an aircraft moves through clouds containing
                               water vapor of a certain temperature, the sudden cooling caused by the passing of the aircraft, 
                              spurs the vapor to freeze into ice crystals, which then fall through lower clouds.</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                            <img src="static/img/humidity.png" alt="Client Image" class="img-fluid tm-client-img" />
                            <br>
                            <br>
                            <br>
                            <h3 style="text-align:center;"> HUMIDITY</h3>
                            <p style="text-align:center;">  Many passengers experience discomfort during flight because of the effect of low humidity 
                              on the skin, eyes, throat, and nose. ... The low humidity at cruise altitude (minimum 22.7 %) 
                              was associated with a mean decrease in admittance of about 20 % compared with measures in the airport.</p>
                        </div>
                  </div>
                <div class="w-100 tm-double-border-1 tm-border-gray">
                    <div class="tm-double-border-2 tm-border-gray tm-box-pad">
                      <div class="tm-gallery-wrap ">
                          <h2 class="tm-color-primary tm-section-title mb-4 ml-2">WEATHER PATTERNS</h2>
                     <div id="myCarousel" class="carousel slide" data-ride="carousel">
                         <!-- Indicators -->
     <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" ></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
         <li data-target="#myCarousel" data-slide-to="2"></li>
         <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="data:image/png;base64,{{ws_url}}" alt="Chart" height="100%" width="100%">
      </div>

      <div class="item">
         <img src="data:image/png;base64,{{tmp_url}}" alt="Chart" height="100%" width="100%">
      </div>
        <div class="item">
         <img src="data:image/png;base64,{{h_url}}" alt="Chart" height="100%" width="100%">
      </div>
        <div class="item">
         <img src="data:image/png;base64,{{p_url}}" alt="Chart" height="100%" width="100%">
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!-- end -->
  </div>
 </div>
   </div>
  </div>
  </section>
    </div>
      </div>
    </div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.singlePageNav.min.js"></script>
    <script src="static/js/parallax.min.js"></script>
    <script src="static/slick/slick.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/templatemo-scripts.js"></script>

  </body>
</html>