<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TIME SERIES ON WEATHER</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="static/css/all.min.css" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/slick/slick.css"/>
    <link rel="stylesheet" href="static/slick/slick-theme.css"/>
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/templatemo-dream-pulse.css" />
    <link rel="stylesheet" href="static/css/tab.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <body>
    <div class="container-fluid">
      <div class="row">
          <nav id="tmSidebar" class="tm-bg-black-transparent tm-sidebar">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <div class="tm-sidebar-sticky">
              <div class="tm-brand-box">
                <div class="tm-double-border-1">
                  <div class="tm-double-border-2">
                    <h1 class="tm-brand text-uppercase">FLIGHT ASSIST</h1>
                  </div>
                </div>
              </div>

              <ul  class="nav flex-column text-uppercase text-center tm-main-nav">
                <li class="nav-item">
                  <a href="{{ url_for('eda') }}" class="nav-link active" >
                    <span class="d-inline-block mr-8">EDA on Weather data</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('classify') }}" class="nav-link">
                    <span class="d-inline-block mr-8">Route Classifier V0(Version 0)</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('ts') }}" class="nav-link">
                    <span class="d-inline-block mr-8">Route Classifier V1(Version 1)</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('landing') }}" class="nav-link">
                    <span class="d-inline-block mr-8">Landing Assistant</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{ url_for('index') }}#performace" class="nav-link">
                    <span class="d-inline-block mr-8">Performace walk-through</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
              </ul>

              <footer class="text-center text-white small">
              </footer>
            </div>
          </nav> <div class="tm-section-wrap bg-white">
          {% block body %}
            <section id="work" class="row tm-section">
<div class="tab-wrapper">
   ppppp
</div>
</section>
  </div>
      </div>
    </div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.singlePageNav.min.js"></script>
    <script src="static/js/parallax.min.js"></script>
    <script src="static/slick/slick.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/templatemo-scripts.js"></script>
  {% endblock %}
  </body>
</html>